


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.design{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
span{
    color: orange;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 70%;
   
}
a{
    color: white;
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
}
.info{
    display: flex;
}
.experiences{
    display: flex;
}
.experiences h3{
    color: orange;
}
.full{
    margin: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-radius: 5px;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.good{
    font-size: 40px;
}
footer{
    text-align: center;
}